<!DOCTYPE html>
<html lang="es">
<head>
<style>
	h1 {
		font-size: 60px;
		text-align: center;	
		font-family: serif;
	}
	img{
		width: 50%;
		height: 20%;
	}
</style>
<title>Test HTML</title>
</head>

<body style="background-color: powderblue ">

<h1 ">This is About Page</h1>

<hr>
<%= link_to 'Home', root_path %>
<%= link_to image_tag('imagen1.jpg'), root_path %>
</body>
</html>